services:
  zookeeper:
    image: zookeeper:3.9.2
    hostname: zookeeper
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - pinot-advanced
  pinot-controller:
    image: apachepinot/pinot:1.1.0
    command: "StartController -zkAddress zookeeper:2181"
    container_name: "pinot-controller"
    volumes:
      - ./scripts:/scripts
    restart: unless-stopped
    ports:
      - "9000:9000"
      - "8000:8000"
    depends_on:
      - zookeeper
    networks:
      - pinot-advanced
  pinot-broker:
    image: apachepinot/pinot:1.1.0
    command: "StartBroker -zkAddress zookeeper:2181"
    restart: unless-stopped
    container_name: "pinot-broker"
    ports:
      - "8099:8099"
    depends_on:
      - pinot-controller
    networks:
      - pinot-advanced
  pinot-server:
    image: apachepinot/pinot:1.1.0
    command: "StartServer -zkAddress zookeeper:2181"
    restart: unless-stopped
    container_name: "pinot-server"
    depends_on:
      - pinot-broker
    networks:
      - pinot-advanced
  pinot-command-runner:
    image: apachepinot/pinot:1.1.0
    volumes:
      - ./scripts:/scripts
    command: "'./bin/pinot-admin.sh AddTable -schemaFile /scripts/movies_schema.json -tableConfigFile /scripts/movies_offline_table.json -controllerHost pinot-controller -exec'"
    container_name: "pinot-command-runner"
    restart: on-failure
    entrypoint: "bash -c"
    environment:
      - "JAVA_OPTS=-Dpinot.admin.system.exit=true"
    depends_on:
      - pinot-controller
    networks:
      - pinot-advanced
networks:
  pinot-advanced:
    name: pinot-advanced